.about-us__main-container {
	height: 700px;
	min-height: 700px;
}
.about-us__main-container .main-container__background {
	height: 100%;
	width: 100%;
	display: flex;
}

.about-us__main-container .main-container__background .main-container__left {
	flex: 1.2;
	background-color: #fff;
	display: flex;
	align-items: center;
}

.about-us__main-container .main-container__background .main-container__right {
	flex: 2;
	background-color: #01d28e;
}

.text__image {
	position: relative;
	right: -150px;
	height: 70%;
	width: 100%;
}
.text__image img {
	max-height: 100%;
	height: 100%;
	float: right;
	max-width: 100%;
}

.text__box {
	padding: 50px 0 50px 50px;
	height: 100%;
	display: flex;
	flex-direction: column;
	margin-left: 150px;
	justify-content: center;
	text-align: start;
}

.box__section {
	color: rgb(240, 238, 238);
	letter-spacing: 1.1px;
}

.box__title {
	display: flex;
	flex-wrap: wrap;
	font-size: 2.2rem;
	letter-spacing: 1px;
	color: rgb(240, 238, 238);
}

.box__para {
	width: 75%;
	color: rgb(240, 238, 238);
	font-size: 1rem;
}

.about-btn {
	padding: 1rem 1.5rem;
	background-color: #1089ff;
	color: rgb(240, 238, 238);
	width: 200px;
	border: none;
	border-radius: 3px;
	font-weight: 500;
}

@media screen and (max-width: 1025px) {
	.about-us__main-container {
		position: relative;
	}
	.about-us__main-container .main-container__background {
		flex-direction: column;
	}
	.about-us__main-container .main-container__background .main-container__right,
	.about-us__main-container .main-container__background .main-container__left {
		background-color: #01d28e;
		flex: 1;
	}

	.about-us__main-container .main-container__text {
		flex-direction: column;
		flex: 1;
	}

	.text__image {
		margin: 30px auto;
		position: relative;
		display: flex;
		justify-content: center;
		right: 0px;
		height: 400px;
		width: 75%;
	}

	.text__box {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		padding: 20px 0 50px;
		height: 100%;
		margin: 0 auto;
	}
	.box__title {
		display: block;
		font-size: 2rem;
		letter-spacing: 0.8px;
		color: rgb(240, 238, 238);
	}

	.box__para {
		width: 75%;
		color: rgb(240, 238, 238);
		font-size: 1.1rem;
	}
	.text__image img {
		float: none;
	}
}
